@font-face {
    font-family: "Water Park";
    src: url(../fonts/Water_Park.ttf);
}

#mainContainer {
    max-width: 100%;
    
}

body {
    margin: 0;
    font-family: "Verdana", "Arial", sans-serif;
}

#wplogo {
    width: 100%;
    height: auto;    
}

#ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;   
}

nav a {
    color: #00aae7;
    text-decoration: none;
}

nav li {
    
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 6px;
    padding-bottom: 5px;    
    text-transform: uppercase;
    position: relative;
}

a:visited {
        color: cornflowerblue;
}

a:hover {
        text-shadow: 0px 0px 10px #00aae7;
        color: #00aae7;
}


.onlineForm {
    padding: 20px;
    padding-right: 10px;
    margin-bottom: 50px;
    float: left;
    width: 60%;
    font-weight: 600;
}

.promotion {
    float:right;
    width:25%;
    padding-top: 20px;
}

.info {
    padding-left: 20px;
    padding-bottom: 50px;
}

aside {
    float:right;
    width:25%;
    
}

#mainBanner {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
}


#parkInfographic {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-top: 20px;
    padding-bottom: 40px;
}

.midPageContainer {
    width: 100%;
    height: auto;
}

.midPageContainer #parkIntro {
    float: left;
    width: 70%;
    height: 100%;
    margin: 15px;
}

.midPageContainer #parkIntro article {
    width: 100%;
    padding: 0;
}

.midPageContainer #parkIntro #promoVideo {
    width: auto;
    height: auto;
    
}

.midPageContainer aside {
    float: right;
    text-align: center;
    width: 25%;
    height: auto;
    color: white;
    background-color: black;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 0.7em;
}

.midPageContainer aside ol {
    list-style: none;
    padding-left: 0px;
}

.midPageContainer aside li {
    width: 100%;
    margin-left: 0px;
    padding-top: 2px;
}

.midPageContainer aside .adImage {
    width: 100%;
    height: auto;
}

article {
    float:left;
    width:65%;
    padding-bottom: 50px;
}

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    background-color: #38afbb;
    width: 100%;
    height: 42px;
    color: white;
    padding-left: 20px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    border-top: 5px;
    text-align: center;
}
